<a href="/">Main page</a>
</br></br></br>
<div class="addPostContainer" style="border:1px solid black; padding: 20px; border-radius: 25px;">
    <h1> Post title:  <%= result[0].title %></h1>
    <h3>Post description: <%= result[0].description %></h3>
    <p>Post created by: <%= result[0].userLogin %></p>
    <p>Date: <%= (new Date( result[0].date )).toLocaleString() %></p>
    
    
</div>
<br>
<div class="comments" style="border:1px solid black; padding: 20px; border-radius: 25px;">
    <% if (result[0].comments) { %>
        <% result[0].comments.forEach(function(iteration){ %>
            <div class="comment">
                <h3> <%= iteration.comment %> </h3>
                <p>Comment by: <%= iteration.userLogin %></p>
        <p>Date: <%= (new Date( iteration.date )).toLocaleString() %></p>
            </div>
        <% }); %>
    <% } else { %>
        no comments
        <% }; %>
    
</div>
<div class="addComment">
    <h2>Add new comment</h2>
    <form action="/api/addComment" method="POST">
        <p>Title: </p><textarea required type="text" id="comment" name="comment" rows=4 cols="60"></textarea>
        <input type="hidden" name="id" value= <%= result[0]._id %> >
        <input type="submit" value="Add new comment" />
    </form>
</div>